<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <receiver
            android:name=".SteadyWidgetProvider"
            android:label="@string/widget_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_steady_progress_info" />
        </receiver>

        <receiver
            android:name=".WidgetActionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="expo.modules.steadywidget.ACTION_TOGGLE" />
                <action android:name="expo.modules.steadywidget.ACTION_CYCLE_SCOPE" />
                <action android:name="expo.modules.steadywidget.ACTION_ITEM_CLICK" />
                <action android:name="expo.modules.steadywidget.ACTION_OPEN" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".WidgetUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="expo.modules.steadywidget.ACTION_MIDNIGHT_UPDATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
